<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" />
    <link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/journal/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">
  

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
      .content {
        margin-top: 100px;
      }

      .inline-pad {
        padding-left: 10px;
      }

      .edit-controls {
        margin: 1em 0;
      }
    </style>
    <script>
    $(function() {
      $(".appointment-delete-link").on("click", function() {
        var delete_url = $(this).attr('data-delete-url');
        $.ajax({
          url: delete_url,
          type: 'DELETE',
          success: function(response) {
            if (response.status == 'OK') {
              window.location = {{ url_for('appointment_list') }};
            } else {
              alert('Delete failed. :(')
            }
          }
        });
        return false;
      });
    });
    // $(function() {
    //   $('#datetimepicker2').datetimepicker({
    //     language: 'en',
    //     pick12HourFormat: true
    //   });
    // });
    </script>
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <div id="main">
      <div class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('appointment_list') }}" class="navbar-brand">my schedule</a>
          </div>
          {% if current_user.is_authenticated() %}
            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li><a href="{{ url_for('appointment_create') }}">Create an Appointment</a></li>
                <li class="active"><a href="{{ url_for('appointment_list') }}">My Appointments</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.email }}<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="content container">
        {% block main %}{% endblock main %}
      </div>
    </div>
  </body>
</html>
