{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block main %}
<div class="row">
  <div class="login well col-md-offset-2 col-md-8">
    <form method="post" class="form-horizontal" role="form">
      <legend>Login</legend>
      {% if error %}<p class="alert alert-danger">{{ error }}</p>{% endif %}
      <div class="form-group{% if form.username.errors %} error{% endif%} has-feedback">
        {{ form.username.label(class="col-sm-2 control-label") }}
        <div class="col-sm-5">
            {{ form.username(class="form-control", placeholder="Email") }}
            {% for error in form.username.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="form-group{% if form.password.errors %} error{% endif%} has-feedback">
        {{ form.password.label(class="col-sm-2 control-label") }}
        <div class="col-sm-5">
          {{ form.password(class="form-control", placeholder="Password") }}
          {% for error in form.password.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock main %}
